@import '../../index.scss';

.small {
  @apply w-[100px];
}
.medium {
  @apply w-[200px];
}
.large {
  @apply w-[400px];
}

.primary {
  background-color: var(--primary-color);
  color: #fff;
}
.normal {
  background-color: var(--btn-normal-bg-color);
  color: #333;
}

.elmButton {
  text-align: center;
}
