@import '../../index.scss';

.small {
  @apply w-[100px] rounded-sm;
}
.medium {
  @apply w-[200px] rounded-md;
}
.large {
  @apply w-[400px] rounded-lg;
}

.primary {
  background-color: var(--primary-color);
  color: #fff;
}
.normal {
  background-color: var(--btn-normal-bg-color);
  color: #333;
}

.elmButton {
  text-align: center;
}
